@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body{
    background-color: black;

}

header, main, footer{
    background-color:  rgb(249, 249, 249);
    width: 700px;
    margin: 0 auto;
}

header{
    position: relative;
}

nav {
    width: 350px;
    position: absolute;
    right: 0;
    top: 75px;
    text-align: right;
}

nav ul{
    padding-right: 10px; 
}
nav ul li{
    display: inline-block;
    margin: 10px; 
    font-family: 'Noto Serif', serif;
    font-size: 18px; 
}
nav ul li a {
    text-decoration: none;
}
nav ul li a:link {
    color: black;
}
nav ul li a:visited {
    color: purple;
}
nav ul li a:hover{
    color: slateblue;
}
nav ul li a:active{
    position: relative;
    top: 2px;
    left: 2px;
}
/*main{
    height: 500px;
}*/

footer p#copy-notice{
    text-align: center;
    font-size: 12 px;
    font-family: 'Noto Serif', serif;
    color: black;
    padding: 12px 0;
}

/* Contact Page */

main#contact-page div#first-column, main div#second-column {
    vertical-align: top;
    display: inline-block;
    
}

main div#first-column{
    /*background-color:cadetblue;*/
    width: 467px;
    
}

main div#first-column form label{
    display: inline-block;
    font-family: 'Noto Serif', serif;
    padding: 18px;
    text-transform: uppercase;
}

main div#first-column form input, main div#first-column form textarea{
    display: inline-block;
    margin-left: 18px;
    font-size: 24px;
    padding: 6px;
    font-family:'Noto Serif', serif;
    border-width: 0;
    background-color: lightgrey;
    border-radius: 6px;

}

main div#first-column form textarea{
    width: 320px;
}

main div#second-column{
    width: 233px;
    height: 300px;
    margin-top: 18px;
}
main div#second-column p {
        padding: 6px;
        font-family: 'Noto Serif', serif;
        color: black;
    }
    
    main div#second-column h2 {
        padding: 6px;
        font-size: 18px;
        font-family: 'Noto Serif', serif;
        color: grey;
        text-transform: uppercase;
    }
    
    main div#second-column a {
        color: cadetblue;
        text-decoration: none;
    }

/* Service Page */

main#services-page table{
    /*border: 1px solid grey;*/
    width: 100%; 

}
main#services-pages table td, main#service-page table th{
    /*border: dashed grey 1px;*/
}

main#services-page table thead{
    background-color: cornflowerblue;
   

}
main#service-page table thead th{
    padding: 6px;
    font-family:'Noto Serif', serif;
    color: white;
    text-transform: uppercase;

}

main#services-page table tbody td{
    font-family:'Noto Serif', serif;
    text-align: right;
    padding: 6px;
}

main#services-page table .odd-row{
    background-color: lightgray ;
}